@import '../colors.scss';
@import '../config.scss';
@import '../components/countdown.scss';
@import '../components/backgroundAnimation.scss';
@import '../components/twitchchat.scss';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $kahlifar-blue;
    width: 100vw;
    height: 100vh;
}

.text-content {
    min-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 1rem;
    &__text {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    &__title {
        font-size: 70px;
        font-weight: bold;
        margin-bottom: 0;
    }
    &__subtitle {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}