@import "../../colors.scss";

body {
    background-color: $kahlifar-blue;
    margin: 1rem;
    width: unset;
    height: unset;
}

@keyframes colorGrayOut {
    0% {
        color: white;
    }
    100% {
        color: rgba($color: #AAA, $alpha: 0.6);
    }
}

@keyframes colorGrayIn {
    0% {
        color: rgba($color: #AAA, $alpha: 0.6);
    }
    100% {
        color: white;
    }
}


.header {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: unset;

    & > * {
        align-self: center;
    }

    &__logo {
        height: 40px;
        & img {
            height: 100%;
        }
    }

    &__title {
        
        & > h1 {
            color: white;
        }
    }

    & .teambar {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        
        & .team {
            font-size: 50px;
            font-weight: bold;

            &:not(.team--active) {
                animation: colorGrayOut 1.5s forwards; 
            }
            &--active {
                animation: colorGrayIn 1.5s forwards;
            }


            &#team1 {
                border-bottom: 1px $kahlifar-orange solid;
            }
            &#team2 {
                border-bottom: 1px $kahlifar-yellow solid;
            }
        }
    }
}

.maps {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    gap: 1.5rem;
    margin: 1.5rem;
}

@keyframes greyOut {
    0% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(100%);
    }
}

.map {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 70vh;
    max-height: 800px;
    overflow: hidden;

    &__image-container {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        & img {
            -o-object-fit: cover;
            object-fit: cover;
            // align-self: center;
        }
    }
    &__executor {
        display: none;
        font-size: 30px;
        font-weight: bold;
        color: white;

        &.map__executor--active {
            display: flex;
            position: absolute;
        }
        
    }
    &--picked {
        padding: 0.2rem;
        border: 2px solid $kahlifar-orange;
    }

    &--banned {
        padding: 0.2rem;
        border: 2px solid $kahlifar-red;
        & img {
            animation: greyOut 1s forwards;
        }
    }
}